* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.colors {
    color: #053B50;
    color: #176B87;
    color: #64CCC5;
    color: #EEEEEE;
}

body {
    background: linear-gradient(to right, #9CC6FC, #D4C6FC);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.title,
.price,
.rating,
.brand {
    font-weight: bold;
    overflow: auto;
    /* user-select: none; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    padding: 20px;
    flex-wrap: wrap;
    gap: 60px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    width: 18rem;
    height: 21rem;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 15px #666;
    transition: all 0.3s ease;
}

.card:hover {
    scale: 1.03;
}

.card .img {
    width: 100%;
    height: 55%;
}

.rating progress {
    width: 35%;
    margin-left: 15px;
}

.price {
    color: #176B87;
}

progress::-webkit-progress-bar {
    background-color: #eeeeee;
}

progress::-webkit-progress-value {
    background-color: #039603 !important;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
}

.pagination {
    padding: 10px 5px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
}

li {
    list-style-type: none;
}

.btn {
    display: inline-block;
    list-style-type: none;
    margin: 3px 7px;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 8px;
    /* border: 2px solid green; */
    font-size: 1rem;
    border: 2px solid #4b9dbe;
}

.active {
    background-color: #c8f3f0;
}

.btn:hover {
    background-color: #c8f3f0;
    color: #053B50;
}